html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-image: linear-gradient(to right, rgba(25, 68, 68, 0.295), red);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}
h1{
    text-align: center;
}
.header img{
    display: block;
    margin: auto;
}
.content h4{
    text-align: center;
}
.footer p{
    text-align: center;
}
.content table{
   
   margin: auto;
}
#ip{
    text-align: center;
}
.Formulario{
    text-align: center;
}
#fio{
    background-color: darkgrey;
}